html{

}

body {
  background: #1A1A1A;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  width:100%;
  height:100%;
}
[class*='col-'] {
  float: left;
}

.btn-group{
    margin:25px 0 0 0;
    text-align:center;
    width:100%;
}

.btn{
    display:inline;
    background-color:#1fbad6;
    border-radius: 1px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    padding: 7px 15px;
    font-family: 'Open Sans', sans-serif;
}
.btn-left{
    margin-right: 10px;
}
.btn-right{
    margin-left: 10px;
}
.btn-group:after {
  content: "";
  display: table;
  clear: both;
}