.sudoku{

  width: 450px;
  margin: 15px auto 15px auto;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;

  > input {
    font-family: 'Josefin Sans', sans-serif;
    float: left;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: 1px solid #aaa;
    box-sizing:border-box;
    color:gray;

    &:focus {
      outline: none;
    }
  }

  /*Every third*/
  > input:nth-child(3n+3){
    border-right-width:2px;
  }

  /*3x3 delimiter vertical*/
  > input:nth-child(3n+4){
    border-left-width:2px;
  }

  /* Left most row*/
  > input:nth-child(9n+1){
    border-left-width:3px;
  }

  /* Right most row*/
  > input:nth-child(9n){
    border-right-width:3px;
  }

  /* First horizontal delimiter*/
  > input:nth-child(n+19):nth-child(-n+27){
    border-bottom-width:2px;
  }
  > input:nth-child(n+28):nth-child(-n+36){
    border-top-width:2px;
  }

  /* Second horizontal delimiter*/
  > input:nth-child(n+46):nth-child(-n+54){
    border-bottom-width:2px;
  }
  > input:nth-child(n+55):nth-child(-n+63){
    border-top-width:2px;
  }

  /* Top border */
  > input:nth-child(-n+9){
    border-top-width:3px;
  }

  > input:nth-child(n+73) {
    border-bottom-width:3px;
  }
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.incorrect{
  background-color: #FF1800;
}

.correct{
  background-color:#FFB000;
}
